:root {
    --menuColor: #207a91
}

.selectMenu {
    width: 101%;
    background-color: var(--menuColor);
    border-radius: 6.5px;
}

.menuRowOpen {
    animation: transitmenuOpen 0.75s;
}

.menuRowClose {
    animation: transitmenuClose 0.75s;
}

.menuOpen {
    z-index: 4;
    position: absolute;
    top: 20vh;
    left: 20vw;
    width: 60vw;
    height: 40vh;
    background-color: #202124;
}

.enterMenu {
    animation: transitmenuOpen 1s;
}

.exitMenu {
    animation: testMenu 0.7s reverse;
}

.clock::-webkit-calendar-picker-indicator {
    display: none;
}

@keyframes transitmenuOpen {
    from {
        opacity: 0;
        transform: translateY(-12px);
    }
    to {
        opacity: 1;
    }
}


@keyframes transitmenuClose {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateY(-12px);
    }
}

@keyframes testMenu {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}

@keyframes opac {
    from {
        opacity: 0;
        height: 0vh;
        top: 60vh;
    }
    to {
        opacity: 0.8;
        top: 0vh;
        height: 100vh;
    }
}

@keyframes opacExit {
    from {
        opacity: 0.8;
        top: 0vh;
        height: 100vh;
    }
    to {
        opacity: 0;
        height: 0vh;
        top: 60vh;
    }
}

.backDrop {
    z-index: 3;
    opacity: 0.8;
    background-color: #000;
    height: 100vh;
    left: 0;
    top: 0;
    position: absolute;
    width: 100vw;
}

.backDrop1 {
    animation: opac 1s;
}
.backDrop2 {
    animation: opacExit 0.7s;
}
